.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #33363d;
    height: 100vh;

    .chatMessage {
        flex-grow: 1;
        overflow-y: auto;
        // display: flex;
        // flex-direction: column;
    }

    .chatInput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #474b53;
        border-radius: 5px;
        margin: 20px;
        color: lightgray;

        form {
            flex-grow: 1;
            input {
                padding: 5px;
                background: transparent;
                border: none;
                outline: none;
                color: white;
                font-size: large;
                width: 100%;
            }
            .chatInputButton {
                display: none;
            }
        }

        .chatInputIcons {
            .MuiSvgIcon-root {
                padding: 5px;
            }
        }
    }
}
