.chatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;

    .chatHeaderLeft {
        padding-left: 15px;

        .chatHeaderHash {
            color: #7b7c85;
            padding-right: 7px;
        }

        h3 {
            color: white;
        }
    }

    .chatHeaderRight {
        padding-right: 15px;
        display: flex;
        align-items: center;
        gap: 13px;
        color: #7b7c85;

        .chatHeaderSearch {
            display: flex;
            align-items: center;
            background-color: #282831;
            padding: 3px;
            border-radius: 3px;

            input {
                background: transparent;
                outline: none;
                color: white;
                border: none;
            }
        }

        .MuiSvgIcon-root {
            cursor: pointer;
        }
    }
}
