.sidebarChannel{
    padding-left: 20px;
    margin-top: 2px;

    h4 {
        color: #7b7c85;
        display: flex;
        align-items: center;
        padding: 5px;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: #33363d;
            border-radius: 7px;
        }

        .sidebarChannelHash {
            padding-right: 10px;
            font-size: 20px;
        }
    }
}