.sidebar {
    display: flex; //水平排列
    flex: 0.3; //25%宽度
    height: 100vh; //100%高度
    background-color: #33363d;

    .sidebarLeft {
        display: flex;
        flex-direction: column; //垂直排列
        align-items: center; //水平居中
        background-color: #1a1c20; //背景色
        padding: 7px 15px;

        .serverIcon {
            width: 60px;
            height: 60px;
            margin-bottom: 10px;
            position: relative;
            margin-top: 7px;
            background-color: #33363d;

            img {
                position: absolute;
                width: 50px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .sidebarRight {
        display: flex;
        flex-direction: column;
        background-color: #2b2d33; //背景色
        position: relative;
        flex-grow: 1; // 占据剩余空间

        .sidebarTop {
            color: #ffffff;
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;
        }

        .sidebarChannels {
            padding: 13px;

            .sidebarChannelHeader {
                display: flex;
                color: white;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;

                .sidebarHeader {
                    display: flex;
                }

                .sidebarAddIcon {
                    cursor: pointer;
                }
            }
        }

        .sidebarFooter {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 24px;
            border-top: 1px solid #686a6e;
            padding-top: 24px;

            .sidebarUser {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    border-radius: 50px;
                    margin-left: 5px;
                }

                .userName {
                    margin-left: 5px;
                }

                h4 {
                    color: white;
                    font-weight: 500;
                }

                span {
                    color: #686a6e;
                }
            }

            .sidebarVoice {
                display: flex;
                align-items: center;
                color: #686a6e;
                margin-right: 5px;
            }
        }
    }
}
